/*================  reset ===============*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
a{
	cursor: pointer;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	margin: 0 auto;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


.wraper{
	max-width: 1260px;
	width: 100%;
	margin: 0 auto;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows:minmax(145px, auto) minmax(510px, auto);
	grid-gap: 20px;

}

.header-box{
	width: 1260px;
	max-width: 1260px;
	display: grid;
 	margin: 0px auto;
	grid-template-columns:230px 1fr;
	grid-template-rows:50px 73px ;
	
}




.top-navigation{
	display: grid;
	
	grid-column-start: 2;
	grid-column-end: 3;
	
}



.navigation-item{
	display: flex;
	margin-right: 35px;
	align-items: center;
	justify-content: flex-end;
	


}

.navigation-item li{
	display: flex;
	justify-content: 
}

.send{
	text-align: right;

	align-items: center;
	grid-column-start: 2;
	grid-column-end: 3;

	margin-left: 12px;
}

.send_text{
font-family: jura,sans-serif;
	font-size: 20px;
	color: inherit;
}

.main-item{
	width: 100%;
	max-width: 700px;

	display: flex;
	justify-content: space-between;
	
}

.main-item a{ 
	display: grid;
	text-decoration: none;
	justify-content: space-between;
	align-items:center;

	color: black;
	text-align: center;
	text-transform: uppercase;
	font: normal normal normal 700 20px roboto-bold,roboto,sans-serif;
	transition: color 0.4s ease 0s;	
	

}

.top-navigation a{
	display: grid;
	max-width: 155px;
	padding-right: 20px;
	text-decoration: none;
	justify-content: space-around;
	align-items: center;

	text-transform: uppercase;
	font-size: 16px;
    font-family: Arial,Helvetica,sans-serif;
	color: black;
}

.navigation-item a:hover{
	color: #E68A00;
	transition: color .4s ease;	
}

.logo{
	display: grid;
	max-width: 222px;
	justify-content: flex-start;
	align-items: center;
	grid-column-start: 1;
	grid-column-end: 2
}

.logo a{
	display: block;
}

.logo img{
	display: block;
	width: 221px;
	height: 76px;		

	max-width: 230px;
	max-height: 100px;
}

.main-navigation{
	display: grid;
	
	grid-template-columns: 1fr 250px;
	padding-left: 30px;
}

.main-item a:hover{
	cursor: pointer;
	color: #E68A00;
	transition: color .4s ease;
}

.phone{
	max-width: 250px;


	font-weight: bold;
	font-size: 35px;
	font-family:roboto-bold,roboto,sans-serif;
	text-align: right;


	align-items: center;
	grid-column-start: 2;
	grid-column-end: 3;

	margin-top: 17px;

}


.video_baner{
	width: 100%;
	max-height: 510px;
	display: grid;
	
	grid-template-columns: 1FR;
	grid-template-rows: 1fr;

	background-color: #424242 	;

}
